*{margin:0;padding:0;position: relative;transition: -webkit-transform .5s}

body{background: #222}

#main{position: absolute;}

.c{width:20%;height:20%;float:left;-webkit-transform-style: preserve-3d;}

.s{-webkit-backface-visibility:hidden;position:absolute;height:90%;width:90%;color:transparent;margin:5%;}

.s0{background:#fff;}
.s1{background:#8a0;-webkit-transform: rotateY(180deg);}
