*{margin:0;padding:0;position: relative;transition: -webkit-transform .5s}

body{background: #222}

#main{position: absolute;-webkit-perspective: 1200px;}

.p{position: absolute;top:5%;left:5%;bottom:5%;right:5%}

.c{width:20%;height:20%;float:left;-webkit-transform-style: preserve-3d}

.s{-webkit-backface-visibility:hidden;position:absolute;height:100%;width:100%;color:transparent;}

.s0{background:#fff;}
.s1{background:#0c75e0;-webkit-transform: rotateY(180deg);}

.c.changed{-webkit-transform: rotate3d(1,1,0,-180deg);}